@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Design By Concrete";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Commercial and Residential Concrete Design and Contracting Services</h2>
        </hgroup>
        <p>
            Sterling Heights, Michigan<br />
Coming soon
        </p>
    </div>
</section>
}

<h3>We offer the following services</h3>

<ol class="round">
    <li class="one">
        <h5>Driveways</h5>
    </li>

    <li class="two">
        <h5>Sidewalks</h5>
    </li>

    <li class="three">
        <h5>Designs</h5>
    </li>
</ol>